.col-md-1
      h3 Users
      .well.well-sm.user.bg-success User1
      .well.well-sm.user User2
      .well.well-sm.user User1
      .well.well-sm.user User2
      .well.well-sm.user User1
      .well.well-sm.user User2
      .well.well-sm.user.bg-success User1
      .well.well-sm.user.bg-success User1
      .well.well-sm.user User1
      .well.well-sm.user User2
      .well.well-sm.user.bg-success User1
      .well.well-sm.user User2
    .col-md-8
      h3 Pizarra
      #blackboard
    .col-md-3
      h3 Chat
      .chat
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla
      .form-group.has-success.has-feedback
        .col-sm-12
          input#inputSuccess.form-control(type='text')
          span.glyphicon.glyphicon-ok.form-control-feedback
      .input-chat
