.col-md-1
      h3 Users
      .content-limits
        .well.well-sm.user.bg-success User1
        .well.well-sm.user User2
        .well.well-sm.user User1
        .well.well-sm.user User2
        .well.well-sm.user User1
        .well.well-sm.user User2
        .well.well-sm.user.bg-success User1
        .well.well-sm.user.bg-success User1
        .well.well-sm.user User1
        .well.well-sm.user User2
        .well.well-sm.user.bg-success User1
        .well.well-sm.user User2
    .col-md-8
      h3 Pizarra
      canvas#blackboard.col-md-12
    .col-md-3
      h3 Chat
      .chat.content-limits
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla
      .form-group.col-md-11
        textarea(name="name", rows="5", cols="40")#chat-input.form-control
      button.btn.btn-default.col-md-1.chat-send
