.col-md-1
      h3 Users
      .well.well-sm.user.bg-success User1
      .well.well-sm.user User2
      .well.well-sm.user User1
      .well.well-sm.user User2
      .well.well-sm.user User1
      .well.well-sm.user User2
      .well.well-sm.user.bg-success User1
      .well.well-sm.user.bg-success User1
      .well.well-sm.user User1
      .well.well-sm.user User2
      .well.well-sm.user.bg-success User1
      .well.well-sm.user User2
    .col-md-8
      h3 Pizarra
      canvas#blackboard.col-md-12
    .col-md-3
      h3 Chat
      .chat
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla
        p USER1 >> bla bla bla

      .col-sm-12
        .input-chat
