.container
  .row
    .col-md-9

              
    spn-room-list(rooms="rooms")
            

    .col-md-3
      h3 Create Room
      .content-limits 
        .btn-group-horizontal
          .btn.btn-default.col-md-12(id="newRoom") New room
          //.btn.btn-default.col-md-12 Private Room
