.container
  .row
    .jumbotron
      h1 Welcome to PintaMonas Dude!
      p Go to 
        a(href="#/blackboard") Blackboard
        |  or 
        a(href="#/lobby") Lobby
    .login-landing
      form(role='form')
        .form-group
          label.control-label.col-md-4(for='user') User :
          .col-md-8
            input(type='text', id='user', placeholder='Enter Username').form-control
          .form-group
          label.control-label.col-md-4(for='user') Password :
          .col-md-8
            input(type='password', id='password', placeholder='Enter Password').form-control
        .form-group
          button(type='submit').btn.btn-default.col-md-12 Submit
