/* Coolors Exported Palette - coolors.co/272b30-ffc857-e9724c-c5283d-255f85 */

$color-darkgray: #272b30; //rgba(39, 43, 48, 100)
$color-yellow: #ffc857; //rgba(255, 200, 87, 100)
$color-orange: #e9724c; //rgba(233, 114, 76, 100)
$color-darkred: #c5283d; //rgba(197, 40, 61, 100)
$color-deepblue: #255f85; //rgba(37, 95, 133, 100)
