doctype html
html(lang="es" ng-app='pintamonas' class="no-js")
  head
    meta(charset='utf-8')
    title= Pintamonas
    link(rel='stylesheet', type='text/css', href='resources/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='resources/css/app.css')

  body
    header.banner
      h1.title
        a(href="#/") Pinta Monas
    //Content begins
    div(ng-view).container-fluid
    //Content ends
    footer
      ul
        li 
        a(href="https://github.com/Side-Project-Ninjas/" target="_blank") Side Project Ninjas
      
    script(src='/resources/vendor/vendor.js')
    script(src='/resources/js/app.js')
    script(src='/socket.io/socket.io.js')
    script.
      //SocketIO Debug
      //localStorage.debug = "*";

      var socket = io();

      var evtLog = [
          "server:get-rooms",
          "server:update-chat"
      ]
      socket.on("connect", function() {
          console.log("CONNECTED");
      });

      for (var ev in evtLog) {
          socket.on(evtLog[ev], function() {
              console.log.apply(console, arguments);
          });
      }


      var startTime;

      setInterval(function() {
          startTime = Date.now();
          socket.emit('client:ping');
      }, 2000);

      socket.on('server:pong', function() {
          latency = Date.now() - startTime;
          if (latency > 300) {
              console.warn("Too high latency!", latency);
          }
      });


      function onjoinclick() {
          var room = document.getElementById("joinroom").value;
          var user = document.getElementById("joinusername").value;
          socket.emit("client:join-room", user, room);
      }

      function ongetrooms() {
          socket.emit("client:get-rooms");
      }

      function onsendevt() {
          var evt = document.getElementById("emitevt").value;
          socket.emit("client:" + evt);
      }

      function onsayevt() {
          var msg = document.getElementById("say").value;
          socket.emit("client:update-chat", msg);
      }

      
