doctype html
html(lang="es" ng-app='pintamonas' class="no-js")
  head
    meta(charset='utf-8')
    title= Pintamonas
    link(rel='stylesheet', type='text/css', href='resources/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='resources/css/app.css')

  body
    header.banner
      h1.title Pinta Monas
    //Content begins
    div(ng-view).container-fluid
    //Content ends
    footer
      ul
        li 
        a(href="https://github.com/Side-Project-Ninjas/" target="_blank") Side Project Ninjas
      
    script(src='/resources/vendor/vendor.js')
    script(src='/resources/js/app.js')
